# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.log

# Build
dist/
build/

# Scratch
scratch/